<div class="container">
    <h2>Create New Score</h2>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="col-md-6">
          <label for="subject" class="form-label">Subject</label>
          <select id="subject" class="form-select">
            <option selected>Choose...</option>
            <option>Laboratorio IV</option>
            <option>Matematica 1</option>
          </select>
        </div>
        <div class="col-1">
          <label for="score" class="form-label">Score</label>
          <input type="text" class="form-control" id="score" placeholder="1 to 10">
        </div>
        <div class="col-11">
            
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Save Score</button>
        </div>
    </form>
</div>