<div class="container">
    <h2>Scores List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Career</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>TUP</td>
            <td>Langsdon</td>
            <td>Brunroth</td>
            <td>Ingles Tecnico</td>
            <td>7</td>
        </tr>
        </tbody>
    </table>
</div>