<div class="container">
    <h2>Students List</h2>
    <div class="Student">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Career</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of arrayStudent">
            <th scope="row">4</th>
            <td>TUP</td>
            <td>Langsdon</td>
            <td>Brunroth</td>
            <td>lbrunroth3@cisco.com</td>
            <td><button class="btn btn-primary btn-sm">Add Score</button></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>TUP</td>
            <td>Con</td>
            <td>Misson</td>
            <td>cmisson6@mozilla.org</td>
            <td><button class="btn btn-primary btn-sm">Add Score</button></td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td>Ing. Naval</td>
            <td>Tine</td>
            <td>Hasney</td>
            <td>thasneyl@livejournal.com</td>
            <td><button class="btn btn-primary btn-sm">Add Score</button></td>
        </tr>  
        </tbody>
    </table>
    </div>
</div>