<div class="container">
    <h2>Students List</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Career</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of arrayStudent">
            <div *ngFor="let career of arraycareer">
                <div *ngIf="(student.carrerId == career.careerId)">
                    <th scope="row">{{student.studentId}}</th>
                    <td>{{career.name}}</td>
                    <td>{{student.firstname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.email}}</td>
                    <td><button class="btn btn-primary btn-sm">Add Score</button></td>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>