<div class="container">
    <h2>Students List</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Career</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of StudentActive">
             <th scope="row">{{student.studentId}}</th>
            <td>{{student.career}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.email}}</td>
            <td><button class="btn btn-primary btn-sm" (click)="AddScore(student.studentId)">Add Score</button></td>
        </tr>
        </tbody>
    </table>
</div>